<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="UTF-8">
    <title>Sinatra Template</title>
    <link rel='stylesheet' type='text/css' href='/css/application.css'>
    <link rel='stylesheet' type='text/css' href='/css/normalize.css'>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript" src="./js/interface.js"></script>
  </body>
</html>